:root {
    --main-color: #013328;
    --text-color: #E3DCD2;
    --accent-1: #CC8B65;
    --accent-2: #100C0D;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}


a {
    text-decoration: none;
    color: var(--text-color) !important;
}

.content {
    min-height: calc(100vh - 74px);
}

.content .container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
