:root {
    --main-color: #013328;
    --text-color: #E3DCD2;
    --accent-1: #CC8B65;
    --accent-2: #100C0D;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: var(--text-color) !important;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

.content {
    min-height: calc(100vh - 74px);
}

.content .container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.divider {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.c-accent {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    color: white !important;
    background-color: var(--accent-1);
    box-shadow: 0 0 10px black;
}
